.producto-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  
    .producto {
      text-align: center;
      border: 1px solid #ccc;
      padding: 10px;
  
      img {
        max-width: 70%;
      }
  
      h2 {
        margin-top: 10px;
      }
  
      p.price {
        font-weight: bold;
        color: #666;
      }
  
      button {
        margin-top: 10px;
        background-color: #464646;
        color: white;
        padding: 8px 12px;
        border: none;
        cursor: pointer;
  
        &:hover {
          background-color: #333;
        }
      }
    }
  }
  